.cardHover, .layout > div:first-child:not(.nc), #recent-posts .recent-post-item, #article-container .shuoshuo-item, #aside-content .card-widget, .layout .pagination > *:not(.space) {
  background: rgba(255,255,255,.93);
}
 
:root {
  --global-font-size: 16px;
  --preloader-bg: #323d5e;
}

@media screen and (max-width: 700px) {
  :root {
    --global-font-size: 14px;
  }
}
/* 页脚透明 */
#footer {
	background: transparent;
}

#page-header.post-bg {
  background-color: transparent;
}

#page-header {
  background-color: transparent;
}