.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2001;
    position: relative;
    margin: auto;
    left: 3vw;
    width: 375px;
    height: 57px;
    background: url( 'https://blog.material.electro-dragon.site/loading_text_before.png');
    background-size: 100% 100%;   /* 防止拉伸 */
    overflow: hidden
}

@media screen and (max-width: 1000px) {
  .pace {
    left: 0;
  }
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: .3s ease-in
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clip-path: (0 100% 0 0);
    position: absolute;
    z-index: 2001;
    display: block;
    top: 0;
    height: 100%;
    width: 100%;
    background: url( 'https://blog.material.electro-dragon.site/loading_text_after.png');
    animation: gradient 2s ease infinite;
    background-size: 100% 100%;   /* 防止拉伸 */
}

