:root {
  --pace-background-color: #666;
  --pace-prospect-color: #f5f5f5;
  --pace-img-height: 64px;
  --pace-img-width: 512px;
}
.pace {
  z-index: 2000;
  width: var(--pace-img-width);
  height: var(--pace-img-height);
  overflow: hidden;
}
.pace .pace-progress {
  position: absolute;
  z-index: 2002;
  clip-path: inset(0 100% 0 0);
  width: var(--pace-img-width);
  height: var(--pace-img-height);
  background: url("../img/loading-bar.png") no-repeat;
  background-size: var(--pace-img-width) var(--pace-img-height);
  animation: gradient 2s ease infinite;
}
