#page-header.full_page #site-info {
    top: 40%;
}

#page-header #site-title {
    font-size: 3.25em;
    text-shadow: 2px 2px #35353580;
}

@media screen and (max-width: 500px) {
  #page-header #site-title {
      font-size: 28px;
  }
  #page-header #site-subtitle {
    font-size: 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 850px) {
  #page-header #site-title {
      font-size: 2.5em;
  }
  #page-header #site-subtitle {
    font-size: 1.2em;
  }
}



#page-header #site-subtitle {
  position: relative;
    top: 20vh;
    text-shadow: 2px 2px #35353580;
}